<%= content_tag_for :tr, thing do %>
  <td><%= thing.foo %></td>
  <td><%= thing.bar %></td>
  <td><%= link_to 'Edit', edit_thing_path(thing), remote: true %></td>
  <td><%= link_to 'Destroy', thing, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
<%- end -%>