<div id="flash_messages"><%= flash_messages %></div>

<p>
  <strong>Foo:</strong>
  <%= @thing.foo %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @thing.bar %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
